<table>
<tr>
   <th>Nome</th>
   <th>CPF</th>
   <th>e-mail</th>
   <th>Requisitos</th>
   <th>Gerência de Configuração</th>
</tr>
<tr *ngFor="let a of alunos" name="studentsgrade">
   <td name="nome">{{a.nome}}</td>
   <td name="cpf">{{a.cpf}}</td>
   <td>{{a.email}}</td>
   <td class="meta"><input name="requisitos" [(ngModel)]="a.metas['requisitos']" (change)="atualizarAluno(a)"></td>
   <td class="meta"><input name="gerDeConfiguracao" [(ngModel)]="a.metas['gerDeConfiguracao']" (change)="atualizarAluno(a)"></td>
</tr>
</table>
